{% extends 'myadmin/base.html' %}

{% block main_body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    首页
    <small>校园二手交易平台管理</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{total}}</h3>

          <p>订单</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <!--
        <a href="#" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
        -->
      </div>
    </div>
    <!-- ./col -->
    
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{total_m}}</h3>

          <p>用户人数</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <!--
        <a href="#" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
         -->
      </div>
    </div>
    <!-- ./col -->
    
    <!-- ./col -->
  </div>

</section>
<!-- /.content -->
{% endblock %}

